{% extends "template.html" %}
{% block content %}
    <form action="{{ url_for('create_order') }}" method="post" class="form">
        <fieldset class="form-group">
            <label for="client">Cliente:</label>
            <div class="input-group col-md-12">
                <select name="client" id="client" class="form-control" required>
                    <option value="" selected disabled>Selecione o cliente</option>
                    {% for client in clients %}
                        <option value="{{ client.id }}">{{ client.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="product">Produto</label>
            <div class="input-group col-md-12">
                <select name="product" id="product" class="form-control" required>
                    <option value="" selected disabled>Selecione o produto</option>
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="amount">Quantidade</label>
            <div class="input-group col-md-12">
                <span class="input-group-addon" id="amount-addon">Multiplicador: ?</span>
                <input type="number" id="amount" name="amount" min="1" class="form-control"
                       aria-describedby="amount-addon" data-multiplier="1" required disabled>
            </div>
            <small><i class="glyphicon glyphicon-info-sign"></i> A quantidade deverá ser um valor múltiplo do
                multiplicador.
            </small>
        </fieldset>
        <fieldset class="form-group">
            <label for="price">Preço</label>
            <div class="input-group col-md-12">
                <input type="text" id="price" name="price" min="0" class="form-control" required disabled>
            </div>
            <small><i class="glyphicon glyphicon-info-sign"></i> O preço definido pode afetar a rentabilidade da venda.
            </small>
        </fieldset>
        <fieldset class="col-md-12 text-right">
            <a class="btn btn-danger" href="{{ url_for('index') }}">Cancelar</a>
            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
    </form>
{% endblock %}